@import "~@angular/material/theming";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$mat-secondary: (
    50: #e6f6ed,
    100: #c1e9d2,
    200: #97dbb4,
    300: #6dcc95,
    400: #4ec17f,
    500: #2fb668,
    600: #2aaf60,
    700: #23a655,
    800: #1d9e4b,
    900: #128e3a,
    A100: #c1ffd2,
    A200: #8effae,
    A400: #5bff89,
    A700: #41ff77,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$mat-primary: (
    50: #e1eaef,
    100: #b3cbd7,
    200: #81a8bc,
    300: #4e85a1,
    400: #286b8d,
    500: #025179,
    600: #024a71,
    700: #014066,
    800: #01375c,
    900: #012749,
    A100: #7db6ff,
    A200: #4a99ff,
    A400: #177dff,
    A700: #006ffc,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #ffffff,
        A700: #ffffff,
    ),
);

$my-app-primary: mat-palette($mat-primary);
$my-app-accent: mat-palette($mat-secondary);
$my-app-warn: mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);
